@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/*
 * Noto Sans KR
 *
 * Thin     100
 * Light    300
 * Regular  400
 * Medium   500
 * Bold     700
 * Black    900
 */

*{
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color: #2e3434;
    outline: none;
    border: none;

    /* for better fot anti-aliasing */
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}

::selection{
    background: #fff600;
}

::-moz-selection{
    background: #fff600;
}

head{
    display: none;
}

body{
    overflow-y: auto;
}

html, body{
    width: 100%;
    height: 100%;
}

a, span, b, strong, i, em, mark, small, del, ins, sub, sup{
    display: inline;
    font-size: inherit;
    font-style: normal;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
    color: inherit;
}

b{
    font-weight: 500;
}

em{
    font-weight: 700;
}

.wrapper{
    width: 100%;
    float: left;
}

.t-r{
    color: #ff4d73;
}

.t-g{
    color: #00ffaf;
}

.t-y{
    color: #fff600;
}


/*
 * HEADER
 */

#header{
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-content{
    width: 100%;
    height: 100%;
    padding: 25px;
}

.header-logo{
    width: 200px;
    height: 100%;
    float: left;
    padding-left: 32px;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: url(../res/img_logo_white.png) 0 0 no-repeat;
}

.header-nav{
    display: none;
    float: right;
}

.header-content.colored .header-logo{
    color: #267df4;
    background-image: url(../res/img_logo_colored.png);
}

.header-content.colored .header-nav{
    /* COLORED MODE for HEADER NAV */
}

/*
 * MAIN
 */

#main{
    display: inline-block;
    overflow: hidden;
    z-index: 10;
}

.main-content-wrapper{
    width: 100%;
    display: inline-block;
    float: left;
}

.main-content-wrapper:nth-child(odd){
    background: #f9f9f9;
}

.main-content{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 80px;
}

.main-btn{
    width: 300px;
    margin: 0 auto;
    overflow: visible;
}

.main-btn-obj{
    width: 100%;
    height: 52px;
    border-radius: 26px;
    border: 2px solid;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    background: none;
    cursor: pointer;
}

.main-btn-desc{
    display: block;
    width: 200%;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    white-space: nowrap;
    margin-left: -150px;
}

.main-title{
    width: 100%;
}

.main-title .title-maintext{
    display: block;
    width: 100%;
    color: #53565b;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.main-title .title-subtext{
    display: block;
    width: 100%;
    color: rgba(96, 100, 105, 0.6);
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-top: 8px;
}

.main-item{
    margin: 60px 0;
}

/* page-intro */

.page-intro{
    height: 100vh;
    background: #267df4 !important;
    position: relative;
}

.page-intro .main-content{
    height: 100%;
    position: relative;
}

.page-intro .main-canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.page-intro .main-title{
    margin-left: -20px;
    padding: 0 20px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
}

.page-intro .main-title .title-maintext{
    display: block;
    color: #fff;
    font-size: 47px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.page-intro .main-title .title-subtext{
    display: block;
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-top: 30px;
}

.page-intro .main-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
    z-index: 30;
}

.page-intro .main-btn-obj{
    color: #fff;
    border-color: #fff;
}

.page-intro .main-btn-obj:hover{
    color: #267df4;
    background: #fff;
}

.page-intro .main-btn-desc{
    color: rgba(255, 255, 255, 0.7);
}

/* page-companies */

.page-companies .main-btn-obj{
    color: #5b5e64;
    border-color: #5b5e64;
}

.page-companies .main-btn-obj:hover{
    color: #fff;
    background: #5b5e64;
}

.page-companies .main-btn-desc{
    color: rgba(83, 86, 91, 0.6);
}

.page-companies .companies-list{
    margin-left: -20px;
    margin-right: -20px;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}

.page-companies .companies-item{
    width: 300px;
    height: 400px;
    margin: 0 20px;
    background: #fff;
    border: 1px solid #f0f0f0;
    box-shadow: 0 2px 0 #f0f0f0;
    float: left;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
}

.page-companies .companies-item .item-image-wrapper{
    width: 100%;
    height: 199px;
    background: #f2f2f2;
    text-align: center;
    position: relative;
}

.page-companies .companies-item img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-companies .companies-item .item-image-nor{
    z-index: 10;
}

.page-companies .companies-item .item-image-sel{
    z-index: -1;
}

.page-companies .companies-item .item-title{
    width: 100%;
    color: #565a5e;
    font-size: 19px;
    font-weight: 500;
    padding: 0 19px;
    margin-top: 20px;
}

.page-companies .companies-item .item-title span{
    font-size: 15px;
}

.page-companies .companies-item .item-desc{
    width: 100%;
    color: #828587;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 0 19px;
    margin-top: 10px;
}

.page-companies .companies-item .item-link{
    position: absolute;
    padding: 0 19px;
    color: #267df4;
    font-size: 15px;
    font-weight: 300;
    left: 0;
    bottom: 21px;
}

.page-companies .companies-item .item-link:hover{
    text-decoration: underline;
}


/* page-details */

.page-details{
    padding-bottom: 30px;
}

.page-details .details-item{
    margin-bottom: 35px;
}

.page-details .details-item .item-title{
    font-size: 19px;
    font-weight: 700;
    color: #267df4;
}

.page-details .details-item .item-content{
    font-size: 17px;
    line-height: 28px;
    color: #53565b;
    margin-top: 10px;
}

.page-details .details-item .item-content em{
    font-weight: 500;
}

.page-details .details-item .item-content-additional{
    display: block;
    font-size: 15px;
    margin-top: 15px;
}

.page-details .main-btn-obj{
    color: #267df4;
    border-color: #267df4;
}

.page-details .main-btn-obj:hover{
    color: #fff;
    background: #267df4;
}

.page-details .main-btn-desc{
    color: rgba(83, 86, 91, 0.7);
}


/*
 * FOOTER
 */

#footer{
    height: 100px;
    background: #35383c;
}

.footer-content{
    width: 100%;
    max-width: 1020px;
    height: 40px;
    margin: 30px auto;
    padding: 0 20px;
    font-size: 15px;
    line-height: 40px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.footer-content em{
    float: left;
}

.footer-content a{
    float: right;
    color: rgba(255, 255, 255, 0.65);
    font-weight: 300;
}

.footer-content a:hover{
    color: #fff;
}
